
.ipynb_checkpoints/RedditAPIdabbles-checkpoint.ipynb
.ipynb_checkpoints/muacirclejerk-checkpoint.json
.ipynb_checkpoints/pandastemp-checkpoint.ipynb
.ipynb_checkpoints/PlottingTests-checkpoint.ipynb
.ipynb_checkpoints/RedditAPIdabbles-checkpoint.json
.ipynb_checkpoints/wikipediaapi-checkpoint.py
.ipynb_checkpoints/wikireader-checkpoint.py
.ipynb_checkpoints/WriteToJsonFile-checkpoint.ipynb
__pycache__/numbers.cpython-36.pyc
cool.csv
menu-don-kounosuke.html
menu-don-kounosuke_files/zepto.min.js.download
menu-don-kounosuke_files/xss.min.js.download
menu-don-kounosuke_files/worker.html
menu-don-kounosuke_files/wixCode.min.js.download
menu-don-kounosuke_files/wix-private.min.js.download
menu-don-kounosuke_files/warmupUtils.min.js.download
menu-don-kounosuke_files/warmupUtils.js.download
menu-don-kounosuke_files/warmup.min.js.download
menu-don-kounosuke_files/viewerCompsService.min.js.download
menu-don-kounosuke_files/viewerComponentService.bundle.js.download
menu-don-kounosuke_files/utils.min.js.download
menu-don-kounosuke_files/TweenMax.min.js.download
menu-don-kounosuke_files/tracker.js.download
menu-don-kounosuke_files/tpa.min.js.download
menu-don-kounosuke_files/svgShape.min.js.download
menu-don-kounosuke_files/skins.min.js.download
menu-don-kounosuke_files/skin-utils.js.download
menu-don-kounosuke_files/ScrollToPlugin.min.js.download
menu-don-kounosuke_files/saved_resource.html
menu-don-kounosuke_files/santaProps.min.js.download
menu-don-kounosuke_files/santa-site-auth-module.bundle.min.js.download
menu-don-kounosuke_files/santa-renderer.js.download
menu-don-kounosuke_files/santa-data-fixer.js.download
menu-don-kounosuke_files/santa-components.prod.js.download
menu-don-kounosuke_files/santa-components-layout.prod.js.download
menu-don-kounosuke_files/require.min.js.download
menu-don-kounosuke_files/react.production.min.js.download
menu-don-kounosuke_files/react-dom.production.min.js.download
menu-don-kounosuke_files/polyfill.min.js.download
menu-don-kounosuke_files/polyfill.min.js(1).download
menu-don-kounosuke_files/pm-rpc.min.js.download
menu-don-kounosuke_files/platformUtils-bundle.js.download
menu-don-kounosuke_files/platformInit.min.js.download
menu-don-kounosuke_files/mousetrap.min.js.download
menu-don-kounosuke_files/mobileLayoutUtils.js.download
menu-don-kounosuke_files/main-r.min.js.download
menu-don-kounosuke_files/lodash.min.js.download
menu-don-kounosuke_files/linkBar.min.js.download
menu-don-kounosuke_files/layout.min.js.download
menu-don-kounosuke_files/languages.js.download
menu-don-kounosuke_files/languages.css
menu-don-kounosuke_files/languages(1).css
menu-don-kounosuke_files/index.min.js.download
menu-don-kounosuke_files/index.js.download
menu-don-kounosuke_files/imageClientApi.js.download
menu-don-kounosuke_files/host-worker-init.js.download
menu-don-kounosuke_files/host-platform-api.js.download
menu-don-kounosuke_files/hls.light.min.js.download
menu-don-kounosuke_files/handler.html
menu-don-kounosuke_files/frame-listener.bundle.min.js.download
menu-don-kounosuke_files/fontFace.css
menu-don-kounosuke_files/first-load.min.js.download
menu-don-kounosuke_files/fedops-logger-module.bundle.min.js.download
menu-don-kounosuke_files/fbevents.js.download
menu-don-kounosuke_files/f9ba08_11450bd1b4d04d60b73357af52b465f6_mv2.webp
menu-don-kounosuke_files/e1aa082f7c0747168d9cf43e77046142.webp
menu-don-kounosuke_files/dispatcher.js.download
menu-don-kounosuke_files/dataRefs.bundle.js.download
menu-don-kounosuke_files/dataFixer.min.js.download
menu-don-kounosuke_files/css
menu-don-kounosuke_files/coreUtils.min.js.download
menu-don-kounosuke_files/coreUtils.js.download
menu-don-kounosuke_files/core.min.js.download
menu-don-kounosuke_files/compsToPackages.bundle.min.js.download
menu-don-kounosuke_files/components.min.js.download
menu-don-kounosuke_files/common.bundle.481ec59830c94f8c3acc873b41385743.min.js.download
menu-don-kounosuke_files/color.min.js.download
menu-don-kounosuke_files/client-simple.bundle.min.js.download
menu-don-kounosuke_files/bundle.min.js.download
menu-don-kounosuke_files/analytics-event-adapter.bundle.min.js.download
menu-don-kounosuke_files/4057345bcf57474b96976284050c00df.webp
.ipynb_checkpoints/menu-checkpoint.json
.ipynb_checkpoints/menu-checkpoint.ipynb
restaurantsuzi_files/analytics.js.download
restaurantsuzi_files/animations.css
restaurantsuzi_files/AuthenticationService.Authenticate
restaurantsuzi_files/cherry-js-core.min.js.download
restaurantsuzi_files/cherry-post-formats.min.js.download
restaurantsuzi_files/common.js.download
restaurantsuzi_files/css
restaurantsuzi_files/css(1)
restaurantsuzi_files/dashicons.min.css
restaurantsuzi_files/devicepx-jetpack.js.download
restaurantsuzi_files/e-201843.js.download
restaurantsuzi_files/font-awesome.min.css
restaurantsuzi_files/frontend-builder-global-functions.js.download
restaurantsuzi_files/functions.js.download
restaurantsuzi_files/gprofiles.js.download
restaurantsuzi_files/grid.css
restaurantsuzi_files/hovercard.min.css
restaurantsuzi_files/hoverIntent.min.js.download
restaurantsuzi_files/jetpack.css
restaurantsuzi_files/jquery-migrate.min.js.download
restaurantsuzi_files/jquery.closest-descendent.js.download
restaurantsuzi_files/jquery.easypiechart.js.download
restaurantsuzi_files/jquery.fittext.js.download
restaurantsuzi_files/jquery.fitvids.js.download
restaurantsuzi_files/jquery.js.download
restaurantsuzi_files/jquery.magnific-popup.min.js.download
restaurantsuzi_files/jquery.mobile.custom.min.js.download
restaurantsuzi_files/jquery.reverse.js.download
restaurantsuzi_files/jquery.stickup.min.js.download
restaurantsuzi_files/jquery.tm-pb-simple-carousel.js.download
restaurantsuzi_files/jquery.tm-pb-simple-slider.js.download
restaurantsuzi_files/jquery.tooltipster.min.js.download
restaurantsuzi_files/jquery.ui.totop.min.js.download
restaurantsuzi_files/js
restaurantsuzi_files/lazy-images.min.js.download
restaurantsuzi_files/logo_100.png
restaurantsuzi_files/magnific-popup.min.css
restaurantsuzi_files/main.min.js.download
restaurantsuzi_files/material-icons.min.css
restaurantsuzi_files/mp-restaurant-menu-font.min.css
restaurantsuzi_files/mp-restaurant-menu.min.js.download
restaurantsuzi_files/OneSignalSDK.js.download
restaurantsuzi_files/photon.min.js.download
restaurantsuzi_files/responsive.css
restaurantsuzi_files/scripts.js.download
restaurantsuzi_files/services.min.css
restaurantsuzi_files/social-icons.css
restaurantsuzi_files/spin.jquery.js.download
restaurantsuzi_files/spin.min.js.download
restaurantsuzi_files/stats.js.download
restaurantsuzi_files/style(1).css
restaurantsuzi_files/style(2).css
restaurantsuzi_files/style.css
restaurantsuzi_files/styles.css
restaurantsuzi_files/super-guacamole.min.js.download
restaurantsuzi_files/swiper.jquery.min.js.download
restaurantsuzi_files/swiper.min.css
restaurantsuzi_files/theme-script.js.download
restaurantsuzi_files/tm-hash.js.download
restaurantsuzi_files/tooltipster-light.css
restaurantsuzi_files/tooltipster.css
restaurantsuzi_files/underscore.min.js.download
restaurantsuzi_files/util.js.download
restaurantsuzi_files/waypoints.min.js.download
restaurantsuzi_files/wp-embed.min.js.download
restaurantsuzi_files/wp-emoji-release.min.js.download
restaurantsuzi_files/wp-util.min.js.download
restaurantsuzi_files/wpgroho.js.download
.ipynb_checkpoints/importreq-checkpoint.py
.ipynb_checkpoints/integralassignment_subreddit_scrapes-checkpoint.ipynb
.ipynb_checkpoints/kotakuinactioncomments-checkpoint.csv
.ipynb_checkpoints/listsandsnacks2-checkpoint.py
.ipynb_checkpoints/menu-don-kounosuke-checkpoint.html
.ipynb_checkpoints/moviedatabase-checkpoint.py
.ipynb_checkpoints/moviefacts-checkpoint.py
.ipynb_checkpoints/multidimensionalsnacks-checkpoint.py
.ipynb_checkpoints/paintings-checkpoint.py
.ipynb_checkpoints/politicians-checkpoint.csv
.ipynb_checkpoints/redditapiassignment-checkpoint.ipynb
.ipynb_checkpoints/scraping_assignment-checkpoint.ipynb
.ipynb_checkpoints/simple-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Week 1 - Oefening Datetime met Pandas-checkpoint.ipynb
.ipynb_checkpoints/Week 2- Oefeningen-checkpoint.ipynb
.ipynb_checkpoints/Week 3 - Oefeningen-checkpoint.ipynb
.ipynb_checkpoints/Week 4 - Oefeningen_v2-checkpoint.ipynb
.ipynb_checkpoints/Week 5 - Oefeningen-checkpoint.ipynb
.ipynb_checkpoints/wikiapi_assignment-checkpoint.ipynb
.ipynb_checkpoints/wikireader-function-checkpoint.py
DSF assignments/wckia.png
DSF assignments/wcgg.png
DSF assignments/wcgames.png
DSF assignments/best_twitch_streamers.csv
DSF assignments/best-twitch-streamers/yoda-profile_image-63cdc656c9f91fb4-50x50.jpeg
DSF assignments/best-twitch-streamers/tinymce.min.js.download
DSF assignments/best-twitch-streamers/timthetatman-profile_image-4cb867e7d0af1448-50x50.jpeg
DSF assignments/best-twitch-streamers/thijshs-profile_image-d1855265a6df68d1-50x50.png
DSF assignments/best-twitch-streamers/sodapoppin-profile_image-10049b6200f90c14-50x50.png
DSF assignments/best-twitch-streamers/serial.js.download
DSF assignments/best-twitch-streamers/pleb1.gif
DSF assignments/best-twitch-streamers/nl_kripp-profile_image-294722d79072f28f-50x50.png
DSF assignments/best-twitch-streamers/locala.js.download
DSF assignments/best-twitch-streamers/list.min.js.download
DSF assignments/best-twitch-streamers/kappa.js.download
DSF assignments/best-twitch-streamers/jquery.min.js.download
DSF assignments/best-twitch-streamers/jquery.lazyload.min.js.download
DSF assignments/best-twitch-streamers/jquery.easy-autocomplete.min.js.download
DSF assignments/best-twitch-streamers/imaqtpie-profile_image-8efb10b7bed60d76-50x50.jpeg
DSF assignments/best-twitch-streamers/forsen-profile_image-48b43e1e4f54b5c8-50x50.png
DSF assignments/best-twitch-streamers/f3591dbe4ee3d94b-profile_image-50x50.png
DSF assignments/best-twitch-streamers/f.txt
DSF assignments/best-twitch-streamers/ed72b641-83ea-4ee6-81fd-aa195759c512-profile_image-50x50.png
DSF assignments/best-twitch-streamers/cef31105-8a6e-4211-a74b-2f0bbd9791fb-profile_image-50x50.png
DSF assignments/best-twitch-streamers/c46b05a0-db41-4c66-b736-3ff018df99ec-profile_image-50x50.png
DSF assignments/best-twitch-streamers/amcharts.js.download
DSF assignments/best-twitch-streamers/adsense.js.download
DSF assignments/best-twitch-streamers/A.main.css.pagespeed.cf.nX9pSlWb6Q.css
DSF assignments/best-twitch-streamers/9813fa94-95d5-4cbd-b4d7-b36b89e39c42-profile_image-50x50.jpg
DSF assignments/best-twitch-streamers/7ed5e0c6-0191-4eef-8328-4af6e4ea5318-profile_image-50x50.png
DSF assignments/best-twitch-streamers/7a75bd89-ecbf-4974-bc1f-6b967213595f-profile_image-50x50.png
DSF assignments/best-twitch-streamers/710c3ca784e2941d-profile_image-50x50.jpeg
DSF assignments/best-twitch-streamers/645dc415-7d8c-4a0d-92a6-586995c0db5f-profile_image-50x50.png
DSF assignments/best-twitch-streamers/473aea0f-a724-498f-b7f1-e344f806ba8a-profile_image-50x50.png
DSF assignments/best-twitch-streamers/2470b5c6-a737-4ba6-8987-c28e0ca839e1-profile_image-50x50.jpg
DSF assignments/best-twitch-streamers/200cea12142f2384-profile_image-50x50.png
DSF assignments/best-twitch-streamers/1aba0e3b-069c-486f-af71-5371308eeee1-profile_image-50x50.jpg
Data Driven Learning/.ipynb_checkpoints/ex3data-checkpoint.csv
DSF assignments/.ipynb_checkpoints/assignment-4-checkpoint.ipynb
DSF assignments/.ipynb_checkpoints/assingment-3-checkpoint.ipynb
DSF assignments/.ipynb_checkpoints/assingment-5-checkpoint.ipynb
DSF assignments/.ipynb_checkpoints/best_twitch_streamers-checkpoint.csv
